
body {
    background-color: #00297B;
}

#body {
    background-color: white;
}


/**MENU*/


.clearfix:after {
    display: block;
    clear: both;
}


.menu-wrap ul {
    margin: 0px;
    padding: 5px;
}

.menu-wrap {
    width: 100%;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
    /*position: absolute;*/
    background: #660000;
    display: inline-block;
}

.menu {
    width: 1000px;
    margin: 0px auto;
}


    .menu li {
        margin: 0px;
        list-style: none;
        font-family: Cambria;
    }

    .menu a {
        text-decoration: none;
        transition: all linear 0.15s;
        color: white;
    }

    .menu li:hover > a, .menu .current-item > a {
        text-decoration: none;
        color: white;
    }

    .menu .arrow {
        font-size: 11px;
        line-height: 0%;
    }

    .menu > ul > li {
        float: left;
        display: inline-block;
        position: relative;
        font-size: 19px;
    }

        .menu > ul > li > a {
            padding: 10px 40px;
            display: inline-block;
            text-shadow: 0px 1px 0px rgba(0,0,0,0.4);
            margin-left: 65px;
        }

        .menu > ul > li:hover > a, .menu > ul > .current-item > a {
            background: #2e2728;
        }

    .menu li:hover .sub-menu {
        z-index: 1;
        opacity: 1;
    }

.sub-menu {
    width: 160%;
    padding: 5px 0px;
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: -1;
    opacity: 0;
    transition: opacity linear 0.15s;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.2);
    background: #2e2728;
}

    .sub-menu li {
        display: block;
        font-size: 16px;
    }

        .sub-menu li a {
            padding: 10px 30px;
            display: block;
        }

            .sub-menu li a:hover, .sub-menu .current-item a {
                background: #3e3436;
            }
/**end*/


.grid {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 0px;
}

#section {
    width: 350px;
    float: left;
    padding: 35px;
}

.fieldStilo {
    display: block;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 1%;
    padding-top: 5%;
    padding-left: 200px;
    padding-right: 0px;
    background-color: white;
    padding-bottom: 5%;
}

h5 {
    color: darkblue;
    font-size: 14px;
    font-family: Lucida Sans;
    margin-top: -1%;
}


.fieldBoleto {
    display: block;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 5px;
    padding-left: 60px;
    padding-right: 0px;
    background-color: #FFF;
}

.tds {
    height: 50px;
    width: 85px;
    vertical-align: bottom;
    padding: initial;
    text-align: center;
    font-size: 16px;
    font-family: Lucida Sans;
    color: darkblue;
}

#tdBoton {
    height: 50px;
    width: 35px;
    vertical-align: bottom;
    padding: initial;
    text-align: center;
    font-size: 16px;
    font-family: Lucida Sans;
    color: darkblue;
}

legend {
    font-size: medium;
    font-family: 'Lucida Sans';
    color: #191970;
}

.Grid {
    background-color: #fff;
    margin-left: 10px;
    border: solid 1px #525252;
    border-collapse: collapse;
    font-family: Lucida Sans;
    color: #474747;
    text-align: center;
    grid-column-sizing: minmax(8, 25);
    font-size: 14px;
    margin-top: 15px;
}

    .Grid th {
        padding: 10px 30px;
        color: #fff;
        background: #414429 url(Images/grid-header.png) repeat-x top;
        border-left: solid 1px #525252;
        font-size: 0.9em;
    }


.logo {
    background-color: #660000;
    border-bottom: double;
    border-bottom-color: #EAEAEA;
}

.logoFont {
    text-align: center;
    font-size: 40px;
    font-family: Arial;
    font-weight: 900;
    color: #FFF;
}

#tabla {
    padding-left: 15gripx;
    margin-top: -3%;
}

#nav {
    /*line-height: 100;*/
    background-color: #003399;
    height: 400px;
    float: left;
    padding: 2%;
    padding-top: 10%;
    margin-top: 1%;
    text-align: initial;
    border-radius: 8px;
}

#section2 {
    line-height: 5px;
    float: left;
    padding-left: 18%;
    padding-top: 5%;
}


/**BUS**/

#bus {
    height: 200px;
    width: 550px;
    background-color: #F5F5F5;
    border: 1px solid #A4A4A4;
    border-radius: 30px;
    margin-left: 10px;
}

#lugar {
    position: relative;
    margin: 7px;
}

    #lugar a {
        font-size: 0.6em;
    }

    #lugar li {
        list-style: none outside none;
        position: absolute;
    }

        #lugar li:hover {
            background-color: yellow;
        }

    #lugar .asiento {
        background: url("../images/available_seat_img.gif") no-repeat scroll 0 0 transparent;
        height: 33px;
        width: 33px;
        display: inline-block;
    }

    #lugar .AsientoSeleccionado {
        background-image: url("../images/booked_seat_img.gif");
    }

    #lugar .EligiendoAsiento {
        background-image: url("../images/selected_seat_img.gif");
    }

    #lugar .row-2, #lugar .row-3 {
        margin-top: 30px;
    }

#DescripcionAsiento li {
    vertical-align: middle;
    list-style: none outside none;
    padding-left: 35px;
    height: 35px;
    float: left;
}

.tdsFin {
    height: 50px;
    width: 200px;
    vertical-align: bottom;
    padding: initial;
    text-align: center;
    font-size: 14px;
    font-family: Lucida Sans;
    color: darkblue;
}

#fontInicio {
    text-align: center;
    font-size: medium;
    color: white;
    font-weight: 800;
    font-family: 'Lucida Sans';
}

#fontBienvenido {
    font-size: 40px;
    text-align: justify;
    color: #E60000;
    font-family: Magneto;
}

.boton {
    margin-left: 70%;
    padding: 1%;
    background-color: #99B4D1;
    border-radius: 10px;
    padding-left: 35px;
    padding-right: 25px;
}

.botonBuscar {
    margin-left: -6%;
    padding: 2% 5px 2% 5px;
    background-color: #99B4D1;
    border-radius: 5px;
}

.boton1 {
    margin-left: 80%;
    padding: 5%;
    background-color: forestgreen;
    border-radius: 10px;
    padding-left: 35px;
    padding-right: 25px;
    color: white;
    box-shadow:none;
}

#cancel {
    margin-left: 50%;
    padding: 5%;
    background-color: #900000;
    border-radius: 10px;
    padding-left: 35px;
    padding-right: 25px;
    color: white;
    text-decoration:none;
    font-family:'Lucida Sans';
    font-size:14px;

}
